header {
  position: relative;
  background-color: black;
  /* height: 75vh; */
  min-height: 35rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  z-index: 1;
}
.carousel-indicators li {
  height: 12px !important;
  width: 12px !important;
  margin-left: 20px !important;
  border-radius: 50%;
  background-color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
}
.carousel-indicators .active {
  background-color: tomato !important;
  opacity: 1 !important;
}
.carousel_indicators {
  margin-bottom: 4% !important;
}

/* style carouselItem */
.trailer_movie {
  color: rgb(238, 159, 56) !important;
  font-size: 18px !important;
  border-bottom: 1px solid rgb(238, 159, 56);
}

.trailer_movie:hover {
  color: tomato !important;
  border-bottom: 1px solid tomato;
}
.buy_ticket {
  border-color: rgb(238, 159, 56) !important;
  color: rgb(238, 159, 56) !important ;
}
.buy_ticket button:hover {
  color: black;
  background-color: rgb(238, 159, 56) !important;
}
.info_movie_right i {
  color: rgb(238, 159, 56) !important;
}
.expected_release {
  color: rgb(238, 159, 56) !important;
}
.font_size_16 {
  font-size: 16px !important;
}
.font_size_18 {
  font-size: 18px !important;
}
.font_size_20 {
  font-size: 20px !important;
}
.font_size_22 {
  font-size: 22px !important;
}
.font_size_24 {
  font-size: 24px !important;
}
.font_size_26 {
  font-size: 26px !important;
}
.font_size_30 {
  font-size: 40px !important;
}
.font_size_14 {
  font-size: 14px !important;
}

.font_italic {
  font-style: italic;
}
.info_movie {
  margin-top: 150px;
}
.font_bold {
  font-weight: 350 !important;
}
@media screen and (max-width: 768px) {
  .info_movie {
    margin-top: 130px;
  }
  .info_movie .info_movie_right {
    flex: none !important;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .info_movie .info_movie_left {
    flex: none !important;
    max-width: 100%;
    margin: 0 10px 0 10px !important;
  }
}

@media screen and (max-width: 1024px) {
  .info_movie .info_movie_right {
    padding-left: 65px !important;
  }
  .info_movie .info_movie_left {
    padding-left: 65px !important;
  }
  .info_movie {
    margin-top: 115px !important;
  }
  header {
   
    min-height: 32rem;
   
  }
}
@media screen and (max-width: 1020px) {
  .info_movie .info_movie_right {
   margin-left: 20px; 
  }
  .info_movie .info_movie_left {
    margin-left: 20px;
  }
  .info_movie {
    margin-top: 140px;
  }
  header {
    position: relative;
    background-color: black;
    /* height: 75vh; */
    min-height: 32rem;
    width: 100%;
    overflow: hidden;
  }
}
/* #carouselExampleIndicators {
  box-shadow: 4px 20px 20px rgba(0, 0, 0, 0.849) !important;
} */
