

body a {

	text-decoration: none;
	letter-spacing:1px;
	font-size:15px;
	font-weight:600;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}

.clear{
	clear:both;
}




img{
	width:100%;
}
/*-- //Reset-Code --*/


input[type="text"] {
    font-size: 15px;
	color:#fff;
    font-weight: 500;
    text-align: left;
  
    letter-spacing: 1px;
    padding: 12px 10px 12px 10px;
	width:80%;
	display:inline-block;
    box-sizing: border-box;
   	border: none;
    outline: none;
    background: transparent;
	font-family: 'Raleway', sans-serif;
}

input[type="Password"] {
	font-size: 15px;
	color:#fff;
    font-weight: 500;
    text-align: left;
  
    letter-spacing: 1px;
    padding: 12px 10px 12px 10px;
	width:80%;
	display:inline-block;
    box-sizing: border-box;
   	border: none;
    outline: none;
    background: transparent;
	font-family: 'Raleway', sans-serif;
}

.input-group {
	margin-bottom: 25px;
	margin-top: 10px;
	
	padding: 0px 10px;
	border-bottom: 1px solid #fff;
}
.signIn {
	margin-bottom: 45px !important;
	margin-top: 45px !important;
}

.w3_info p {
	color: rgb(253, 217, 169);
	letter-spacing: 2px;	

}




.w3_info h2 {
  display: inline-block;
    font-size: 26px;
    margin-bottom: 10px;
    color: #fff;
    letter-spacing: 2px;	
}
.w3_info h4 {
    display: inline-block;
    font-size: 15px;
	padding: 8px 0px;
    color: #444;
    text-transform: capitalize;
}



h1 {
    text-align: center;
    font-size: 45px;
    margin: 30px 0px;
    letter-spacing: 3px;
	color: #fff;
	font-weight:500;
}
.w3_info {
    flex-basis: 50%;
	-webkit-flex-basis: 50%;
    box-sizing: border-box;
	padding: 3em 4em;
	background: #000000bb;
}



.agile_info {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}


.w3l_form {
    padding: 0px;
    flex-basis: 50%;
	-webkit-flex-basis: 50%;
	background:#fff;
}
.w3_info p {
    padding-bottom: 30px;
    text-align: center;
}

h3.w3ls {
    margin: 10px 0px;
    padding-left: 60px;
}
h3.agileits {
    padding-left: 10px;
}
.container {
    width: 60%;
    margin: 0 auto;
}
.input-group i.fa {
   font-size: 16px;
    vertical-align: middle;
    color:#eee;
	box-sizing:border-box;
	float:left;
	width:6%;
    margin-top: 13px;
    text-align: center;
}
h5 {
    text-align: center;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 600;
	    color: #000;
}
.footer p {
    color: #fff;
    text-align: center;
    margin: 40px 0px;
    letter-spacing: 2px;
    font-size: 15px;
}
.footer p a {
	color:#fff;
}
.footer p a:hover {
	color:#ff4c4c;
}

/** Responsive **/
@media screen and (max-width: 1440px){
	.container {
		width: 70%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1280px){
	.container {
		width: 75%;
	}
}
@media screen and (max-width: 1080px){
	.container {
		width: 80%;
	}
	.left_grid_info {
		padding: 7em 3em;
	}
	.w3_info {
		padding: 3em 3em;
	}
	.left_grid_info h4 {
		font-size: 1.1em;
	}
}
@media screen and (max-width: 1024px){
	.left_grid_info h3 {
		font-size: 2em;
	}
	.container {
		width: 84%;
	}
}
@media screen and (max-width: 991px){
	.w3_info h2 {
		font-size: 24px;
	}
	p {
		font-size: 13px;
	}
	h1 {
		font-size: 40px;
		letter-spacing: 2px;
	}
}
@media screen and (max-width: 900px){
	
	.container {
		width: 90%;
	}
	.left_grid_info h4 {
		font-size: 1em;
	}
	.w3_info {
		padding: 3em 2.5em;
	}
}
@media screen and (max-width: 800px){
	.container {
		width: 95%;
	}
	input[type="text"],input[type="email"],input[type="password"] {
		font-size: 14px;
	}
	.w3_info h2 {
		font-size: 23px;
	}
}
@media screen and (max-width: 768px){
	.container {
		width: 95%;
	}
	.left_grid_info {
		padding: 9em 3em;
	}
	.w3_info h2 {
		letter-spacing: 1px;
	}
}
@media screen and (max-width: 736px){
	.left_grid_info h3 {
		font-size: 1.7em;
	}
	.w3_info h2 {
		font-size: 22px;
	}
	.w3_info {
		padding: 3em 2em;
	}
	.footer p {
		font-size: 14px;
	}
	.w3_info h4 {
		font-size: 14px;
	}
	.btn-danger {
		padding: 13px 12px;
		font-size: 14px;
	}
}
@media screen and (max-width: 667px){
	.agile_info {
		flex-direction: column;
	}
	.container {
		width: 80%;
	}
	.left_grid_info {
		padding: 3em 3em;
	}
	.w3_info {
		padding: 3em 4em;
		margin: 0 auto;
	}
}
@media screen and (max-width: 640px){
	h1 {
		font-size: 37px;
	}
}
@media screen and (max-width: 480px){
	.w3l_form {
		padding: 0em;
	}
	.w3_info {
		padding: 3em;
	}
	h1 {
		font-size: 34px;
	}
}
@media screen and (max-width: 414px){
	.w3_info {
		padding: 2em;
	}
	h1 {
		font-size: 32px;
		letter-spacing: 1px;
	}
	.left_grid_info p {
		font-size: 13px;
	}
	.container {
		width: 90%;
	}
}
@media screen and (max-width: 384px){
	.left_grid_info h4 {
		font-size: .9em;
	}
	.left_grid_info p {
		letter-spacing: .5px;
	}
}
@media screen and (max-width: 375px){
	.left_grid_info h3 {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 320px){
	h1 {
		font-size: 25px;
		letter-spacing: 1px;
	}
	.w3_info h2 {
		font-size: 18px;
		letter-spacing: 0px;
	}
	.btn-danger {
		padding: 13px 12px;
		font-size: 13px;
	}
	input[type="text"], input[type="email"], input[type="password"] {
		font-size: 13px;
	}
	.footer p {
		font-size: 13px;
	}
	.footer p a{
		font-size: 13px;
	}
}
/** /Responsive **/
.closeModal {
    font-size: 25px !important;
    color: white !important;
    float: right;
    opacity: 90% !important;
}

.signupform .closeModal:hover{
    color: tomato !important;
}


  .tooltipp {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
  }
  
  .tooltipp .tooltiptext {
	visibility: hidden;
	width: 150px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
	
	/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
	opacity: 0;
	transition: opacity 1s;
  }
  
  .tooltipp:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }

  
  @media screen and (max-width: 640px){
	 
	.hide_mobile{
		display: none;
	}
	input[type="text"] {
		font-size: 15px;
		color:#fff;
		font-weight: 500;
		text-align: left;
	  
		letter-spacing: 1px;
		padding: 12px 10px 12px 10px;
		width:70%;
		display:inline-block;
		box-sizing: border-box;
		   border: none;
		outline: none;
		background: transparent;
		font-family: 'Raleway', sans-serif;
	}
	input[type="Password"] {
		font-size: 15px;
		color:#fff;
		font-weight: 500;
		text-align: left;
	  
		letter-spacing: 1px;
		padding: 12px 10px 12px 10px;
		width:70%;
		display:inline-block;
		box-sizing: border-box;
		   border: none;
		outline: none;
		background: transparent;
		font-family: 'Raleway', sans-serif;
	}
}