.jus_center {
  justify-content: center !important;
}
.width_20 {
  width: 20%;
}
.pr_50 {
  padding-right: 150px !important;
}
.bg_schedule_btn {
  width: 70% !important;
  border-radius: 10px;
  height: 100px;
  background: rgba(0, 0, 0, 0.726);
  line-height: 100px;
}

.bg_blur {
  background-color: rgba(103, 161, 161, 0.185) !important;
}
.nav-link {
  color: #fff !important;
}
.bg_schedule {
  width: 100%;
  position: absolute;
  margin-top: -110px;
}
/* .bg_schedule_layout2{
    background-color: rgba(32, 32, 32, 0.534);
} */

.hight-light:hover {
  background-color: rgba(48, 195, 253, 0.651) !important;
  color: tomato !important;
  transition: 0.5s;
}
.active-select {
  border: 1px dashed rgb(241, 232, 230) !important;
  background-color: rgb(38, 80, 90);
  font-size: large;
  border-radius: 8px;
  color: white;
  transition: all 0.4s;
}
.active2 {
  color: rgb(252, 248, 1) !important;
}
.bg_beauty {
  /* background-color: rgba(108, 240, 227, 0.658); */
  border-radius: 5px;
}
.card_img {
  width: 100%;
  position: absolute;

}
.card_img2 {
    position: relative;
    width: 100%;

}
.card_content {
  line-height: 15px;
}
.button_buy_now {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  padding: 0 15px;
  background-color: rgb(255, 72, 0);
  font-weight: 500;
  color: rgb(255, 255, 255) !important;
  border-radius: 2px;
}
.button_buy_now:hover {
  background-color: rgba(255, 250, 250, 0.822) !important;
  color: black !important;
}
.scheduleLayer1 {
  background-image: url("/img/42.jpg");
  background-size: cover;
}
.scheduleLayer2 {
  background-color: rgba(0, 0, 0, 0.555);
}
.scheduleLayer3 {
  background: linear-gradient(to bottom, #000000, transparent 200%);
}

/* .hrScheduleMovie {
  background-color: rgba(0, 0, 0, 0.432) !important;
  margin-top: 0px !important;

  margin-bottom: 0px !important;
  border-radius: 50%;
  width: 75%;
  height: 7px !important;
  border: 1px solid rgba(255, 255, 255, 0.644);
} */

#carouselMovies {
    justify-items: center;
    
}

.carousel-control-next {
  justify-content:center !important;
  width: 10% !important;
}
.carousel-control-prev {
  justify-content:center !important;
  width: 10% !important;
}
/* .card_img{
    
    
} */

.imgMovie img {
  height: 310px;
  width: 192px;
  border-radius: 7px;
}

.text_size_30 {
  font-size: 30px;
}


